target/classes/agencies-db-consume.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="agencies-db-consumeFlow1" doc:id="bb69e14c-2b6e-4f78-b2fe-c1c4265da72f" >
		<scheduler doc:name="schedulerTrigger" doc:id="a5f71d80-9000-4f41-b693-52a2ac85e434" >
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="SECONDS" />
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="lastID" doc:id="96d64fac-2ee8-4b51-ae29-63ad06e0e77f" key="lastID" target="lastID" >
			<os:default-value ><![CDATA[#[0]]]></os:default-value>
		</os:retrieve>
		<mongo:list-collections doc:name="List collections" doc:id="4f8cd118-5b4e-41c4-9ca7-46313096b1be" config-ref="Main_Base_MongoDB_Config1" target="availableCollections">
			<error-mapping sourceType="MONGO:CONNECTIVITY" targetType="APP:MONGO_CONNECTION" />
			<error-mapping sourceType="MONGO:NOT_FOUND" targetType="APP:MONGO_NOT_FOUND" />
		</mongo:list-collections>
		<logger level="INFO" doc:name="Logger" doc:id="8878543b-150b-405f-b6fc-273bc6861f6e" message="#[vars.availableCollections]"/>
		<set-variable value="#[[]]" doc:name="Set maxIDarr" doc:id="2391ebc4-1a13-4588-9ec8-75b5a0b0c127" variableName="maxIDarr"/>
		<foreach doc:name="For Each" doc:id="271b5dca-2c31-4425-874f-75e8642f391b" collection="#[vars.availableCollections]">
			<set-variable value='#[payload default ""]' doc:name="Set collectName" doc:id="2bc67163-f448-48c6-b58b-5139a11d66b7" variableName="collectName"/>
			<mongo:find-documents doc:name="Find documents" doc:id="c3c142ec-3fc1-445b-87bc-129b2f005e12" config-ref="Main_Base_MongoDB_Config1" collectionName="#[payload]" fields=",">
				<error-mapping sourceType="MONGO:CONNECTIVITY" targetType="APP:MONGO_CONNECTION" />
				<error-mapping sourceType="MONGO:NOT_FOUND" targetType="APP:MONGO_NOT_FOUND" />
				<mongo:query ><![CDATA[#[output application/json
---
{
	"r_id": {"\$gt": vars.lastID}
}]]]></mongo:query>
			</mongo:find-documents>
			<ee:transform doc:name="Transform Message" doc:id="64e69847-25b5-4520-8823-311293436d69" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<choice doc:name="Choice" doc:id="e9135bd4-23b1-49aa-9b6e-847491873229" >
				<when expression="#[payload != []]">
					<ee:transform doc:name="modify MaxIDarr" doc:id="d0717955-4d0d-4ae2-bfb3-47849984ef61">
				<ee:message>
				</ee:message>
						<ee:variables>
							<ee:set-variable variableName="maxIDarr" ><![CDATA[%dw 2.0
output application/json
---
if (max(payload.r_id) != null)
    vars.maxIDarr + (max(payload.*r_id))
else
    vars.maxIDarr default vars.lastID]]></ee:set-variable>
						</ee:variables>
			</ee:transform>
					<set-variable value="#[Mule::p('fileSettings.folder') ++ vars.collectName ++ &quot;-&quot; ++ now() as String {format: &quot;yyyy-MM-dd&quot;} ++ &quot;at&quot; ++ now() as String {format: &quot;hh-mm-s&quot;} ++ &quot;.json&quot;]" doc:name="Set fileName" doc:id="ad82928e-e0e7-4a3a-94a4-13a8a46b8da5" variableName="fileName" />
					<file:write doc:name="Write" doc:id="edb561bc-eb46-4e96-b445-015fe514fb80" mode="CREATE_NEW" path="#[vars.fileName]" config-ref="File_Config">
					</file:write>
					<logger level="INFO" doc:name="logNewFileCreated" doc:id="5695623f-1909-404b-a27c-23c0240a9730" message='#[{&#10;	message: "New data was found af collection " ++ vars.collectName ++" file " ++ vars.fileName ++ " was created"&#10;}]'/>
				</when>
				<otherwise>
					<logger level="INFO" doc:name="logNoChangesInCollection" doc:id="a42cf42a-a651-4049-894f-bf5414d46c8d" message='#[message: "Collection" ++ vars.collectName ++ " has no new items"]'/>
				</otherwise>
			</choice>
		</foreach>
		<os:store doc:name="Store" doc:id="24c57068-a6a0-4d4d-be1e-466f2ca2add1" key="lastID" failOnNullValue="false">
						<os:value><![CDATA[#[output application/json
---
if (max(vars.maxIDarr) == null)
vars.lastID
else
max(vars.maxIDarr)]]]></os:value>
					</os:store>
		<logger level="INFO" doc:name="logAllCollectionsPassed" doc:id="8afb8d86-cb81-4b23-95a2-c393d74df605" message='#[{&#10;	message: "All available collections passed"&#10;}]'/>
		
	</flow>
</mule>
